{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/main

    Mount point for the course overview React component.

    The react Mustache helper emits a div with data-react-component and
    data-react-props that core/react_autoinit detects and mounts.

    Context variables required for this template:
    * propsjson - JSON-encoded props string passed to the React component
    * uniqid - unique suffix for the mount point id

    Example context (json):
    {
        "propsjson": "...JSON-encoded props string...",
        "uniqid": "5f9c2a"
    }
}}
{{#react}}
{
    "component": "@moodle/lms/block_myoverview/app",
    "props": {{{propsjson}}},
    "id": "block-myoverview-{{uniqid}}",
    "class": "block-myoverview"
}
{{/react}}
